body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    filter: brightness(40%);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
   
}

header {
    background-color: #de3e46;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

header form {
    margin-top: 10px;
}

nav {
    background-color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 32px;
    text-align: right;
    padding-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-family:'Georgia';
    font-size: 15px; 
    
}

main {
    padding: 20px;
}

#border{
    border-right: 15px;
    border-color: red;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
    box-align:center;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px; 
    grid-template-rows: 300px 300px 300px 300px; 
    gap: 100px;
    justify-content: center;
}

.grid-item {
    display: inline-block;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 2px solid white; 
}


.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; 
}

.grid-item:hover img {
    transform: scale(1.1); 
}

.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 150px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.grid-item:hover .overlay {
    opacity: 1;
}

.grid-item:hover {
    transform: scale(1.13);
    filter: opacity(0.8);
    filter: brightness(25%);
}


.grid-item span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(6, 6, 6);
    font-size: 18px;
    font-weight: bold;
}